In [1]:
import pandas as pd
from pathlib import Path

csv_path = Path(r"C:\Users\sffra\Downloads\BSE 2025-2026\econometrics\hw6\data\ps1_q1.csv")
df = pd.read_csv(csv_path)

# quick check
df.head()

   teacher_attendance  students  schid  day  month  year  time  treat
0                   1         0   1112   11      8  2003     1      0
1                   1        13   1121   23      8  2003     1      0
2                   1         8   1131   11      8  2003     1      0
3                   1        23   1132   23      8  2003     1      0
4                   1        34   1231   18      8  2003     1      0

In [9]:
import os

df_start = df[df["time"] == 1]

group_means = (
    df_start.groupby('treat')[['teacher_attendance', 'students']]
      .mean()
      .rename(columns={
          'teacher_attendance': 'Mean teacher attendance',
          'students': 'Mean students'
      })
      .reset_index()
)

group_means["Difference"] = (
    group_means["Mean teacher attendance"] - group_means["Mean students"]
)

# Round values
group_means_rounded = group_means.round(3)

# Make a tables/ folder if it doesn't exist
os.makedirs("tables", exist_ok=True)

# Save LaTeX tabular to file
latex_str = group_means_rounded.to_latex(
    index=False,
    escape=False  # so spaces in column names are fine
)

with open("figures/t1_group_means.tex", "w") as f:
    f.write(latex_str)